<h2 class="add_post_link"><%= link_to "Добавить пост", new_post_path %></h2>
<div class="posts-index">
  <% @posts.each do |p| %>
    <div class="post-one">
      <h1 class="post-title"><%= link_to p.title, p %></h3>
      <div class="post-body">
        <%= p.body %>
      </div>
      <div class="post-author">
        Автор: <%= p.author %>
      </div>
      <div class="post-published-date">
        Дата публикации: <%= p.published_date %>
      </div>
      <div class="post-actions">
        <%= link_to "редактировать", edit_post_path(p) %>
        <%= link_to "удалить", p, method: :delete, confirm: "Вы уверены?" %>
      </div>
    </div>
  <% end %>
</div>